/* home page */
/* section one */
.container-fluid.section-one { 
    background: #411101;
    display: flex;
    padding-top: 20px;
    font-family: Jomhuria;
    height: 220px;
    padding-bottom: 20px;
    font-size: 14px;
    justify-content: space-around;

}
h2.section-header-one, h2.section-header-two {
    color: #FCB132;
    font-weight: 700;
    display: flex;
}
.section-one-textOne, .section-one-textTwo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-one-Image {
    display: flex;
    align-items: center;
}
/* section two */
.section-two {
    display: flex;
    background: antiquewhite;
    justify-content: space-between;
}
.section-content-imageleft {
    display: flex;
    align-items: flex-start;
}
.section-two-header {
    padding-top: 5rem;
    padding-bottom: 2rem;
    width: 50%;
}
h2.section-two-heading {
    color: #991403;
    font-weight: 600;
    font-family: Jomhuria;
}
p.section-two-body-content {
    padding-top: 1rem;
}
/* section three */
.container-fluid.section-three {
    display: flex;
    justify-content: space-evenly;
    background: #991403;
    font-family: Jomhuria;
    padding: 1rem 5rem;
    align-items: center;
}
h3.section-header-three {
    color: #fff;
    font-weight: 600;
}
a.btn.view-all-sec-three {
    background: #FCB132;
    border-radius: 50px;
}
/* section four */
.section-four {
    padding: 2rem 5rem;
    background: #ffff;
    background: antiquewhite;
}
/* ---------------------video------------- */

/* ---------------------video------------- */

ul#myTab {
    display: flex;
    justify-content: center;
}
div#myTabContent {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.card-text-tab {
    padding-top: 5rem;
}
span.card-icon {
    background: #9d3766d9;
    padding: 0.1rem 0.8rem 0.5rem 0.8rem;
    margin: 0.5rem;
    font-size: 20px;
    color: #ffff;
}
.container-fluid.section-six {
    background: #FFF6E7;
}
.card-text-tab-six {
    padding: 1rem;
}
.container-fluid.section-four {
    background: #f0f0f1d1;
}
p.section-five-text,  p.section-six-text{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.card-body-tab {
    padding: 1rem;
    background: #9b514594;
    color: #ffff;
}

.secondary-footer {
    background: #db4242;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 5rem 5rem 0 5rem;
}
.secondary-footer span {
    display: flex;
    align-items: flex-end;
}
.row.row-tab {
    padding-bottom: 1rem;
}
.row.row-six {
    padding-bottom: 1.5rem;
}




.heading-section,.header-four, .section-six-header {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    /* padding-top: 5rem; */
}
h5.card-title {
    padding: 1rem;
}
.card-text p, .card-image {
    padding-left: 1rem;
}

.option-cols.search-form {
    display: contents;
}
/* .search-form { display: inline-block; } */
.section-one-search {
    float: left;
    width: auto;
    background: #ffffff;
    color: #0d6efd;
    font-size: 14px;
    border: 1px solid white;
    border-left: none;
    cursor: pointer;
}
.section-one-search-area {
    border: 1px solid white;
    float: left;
    width: 60%;
    background: #466bb8;
}
.option-cols select {
    background: #466bb8;
    font-size: 12px;
    color: #fff;
    width: 100%;
    border: 1px solid;
    padding: 0.1rem;
}
.option-cols select:hover{
    opacity: 0.9px;
}
.option-cols span.lable {
    font-size: 14px;
}
.option-cols span {
    margin-left: 2px;
}
.option-cols { 
    display: flex;
    padding-left: 10px;
}
.bid_count {
    display: flex;
    justify-content: center;
    padding: 0 8px;
}
/* profile */
.profile-edit {
    float: right;
    cursor: pointer;
    box-shadow: 2px -1px 4px 0px #0505053d;
}
.user_edit-pf {
    padding: 0.7rem;
}

.social-media-icons a {
    padding-right: 10px;
}
.social-media-icons {
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-contents p {
    padding-left: 0;
}