/* home page */
/* section one */
.container-fluid.section-one { 
    background: #411101;
    display: flex;
    padding-top: 20px;
    font-family: Jomhuria;
    height: 220px;
    padding-bottom: 20px;
    font-size: 14px;
    justify-content: space-around;

}
h2.section-header-one, h2.section-header-two {
    color: #FCB132;
    font-weight: 700;
    display: flex;
}
.section-one-textOne, .section-one-textTwo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-one-Image {
    display: flex;
    align-items: center;
}
/* section two */
.section-two {
    display: flex;
    justify-content: space-between;
}
.section-content-imageleft {
    display: flex;
    align-items: flex-start;
}
.section-two-header {
    padding-top: 5rem;
    padding-bottom: 2rem;
    width: 50%;
}
h2.section-two-heading {
    color: #991403;
    font-weight: 600;
    font-family: Jomhuria;
}
p.section-two-body-content {
    padding-top: 1rem;
}
/* section three */
.container-fluid.section-three {
    display: flex;
    justify-content: space-evenly;
    background: #991403;
    font-family: Jomhuria;
    padding: 1rem 5rem;
    align-items: center;
}
h3.section-header-three {
    color: #fff;
    font-weight: 600;
}
a.btn.view-all-sec-three {
    background: #FCB132;
    border-radius: 50px;
}
/* section four */
.section-four {
    padding: 2rem 5rem;
}
/* ---------------------video------------- */

.row-hero {
	height: 20rem;
	width: 100%;
	position: relative;
    background: #41110152;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
	@media(min-width: 480px) {
		.row-hero {
			height: 25rem;
		}
	}
	@media(min-width: 720px) {
		.row-hero {
			height: 35rem;
		}
	}

.video {
	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	width: auto;
	z-index: -1;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
}

.video-quote {
	z-index: 1;
	padding: .5rem 1rem;
	
}
.section-five-text{
    color: #fff;
    
}
.section-five-text:hover{
    color: #fff;
    opacity: 0.7;
}
/* ---------------------video------------- */

ul#myTab {
    display: flex;
    justify-content: center;
}
div#myTabContent {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.card-text-tab {
    padding-top: 5rem;
}
span.card-icon {
    background: #FCB132;
    padding: 0.1rem 0.8rem 0.5rem 0.8rem;
    margin: 0.5rem;
    font-size: 20px;
    color: #ffff;
}
.container-fluid.section-six {
    padding-bottom: 8rem;
}
.card-text-tab-six {
    padding: 1rem;
    background: #FCB132;
    z-index: 9;
    position: absolute;
}
a.section-six-text {
    color: #000;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}
a.section-six-text:hover{
    opacity: 0.6;
}

.card.section-six-card {
    width: 70%;
}

.image-view {
    height: 150px;
    width: 350px;
    position: absolute;
}
.section-six-img-div{
    position: relative;
}
.container-fluid.section-four {
    background: #f0f0f1d1;
}
p.section-five-text,  p.section-six-text{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.card-body-tab {
    padding: 1rem;
    background: #9914034a;
    color: #ffff;
}

.secondary-footer {
    background: #411101;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 1rem 5rem;
}
.secondary-footer span {
    
    color: #fcb132;
}
.row.row-tab {
    padding-bottom: 1rem;
}
.row.row-six {
    padding-bottom: 1.5rem;
}




.heading-section,.header-four, .section-six-header {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    /* padding-top: 5rem; */
}
#videoBG {
    position:fixed;
    z-index: -1;
}
h5.card-title {
    padding: 1rem;
}
.card-text p, .card-image {
    padding-left: 1rem;
}

.option-cols.search-form {
    display: contents;
}
/* .search-form { display: inline-block; } */

