/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 12px}
    body{font-size: 12px}
    
    
    
    
}
 /* `sm` applies to x-small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
    .container-fluid.section-three {
        display: flex;
        justify-content: space-evenly;
        background: #991403;
        font-family: Jomhuria;
        padding: 1rem 5rem;
        align-items: center;
        flex-direction: column;
    }
    nav.navbar.navbar-secondary.navbar-expand-lg.navbar-dark.p-3,
    li.menu-item.menu-item-type-custom.contact-item.contact-item-phone,
    li.menu-item.menu-item-type-custom.contact-item.contact-item-email {
        font-size: 10px;
    }
    .section-content-imageleft, .section-four-imageright, .section-six-imageright{
        width: 66px;
        height: 120px;
    }
    .section-content-imageright img {
        height: 260px;
        width: 335px;
    }
    .section-content-imageleft img{
        width: 80px;
    }
    .section-two {
        display: flex;
        flex-direction: column;
    }
    .image-view {
        height: 50px;
        width: 80%;
        position: absolute;
    }
    .section-one-Image img{
        width: 120px;
        height: 120px;
    }
    .container-fluid.section-one {
       
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .section-three-auidio audio {
        min-width: 280px !important;
    }
    p.text-center.slider-content {
        font-size: 20px;
    }
    .section-three{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    .section-four .card {
        display: flex;
        width: 200px;
        flex-wrap: nowrap;
        margin-bottom: 1rem !important;
    }
    .section-four .row {
        display: flex;
        flex-direction: column;
    }
    .carousel-item-text,
    h2.section-header-one,
    h2.section-header-two,
    .section-two-heading,
    .section-header-three,
    .header-four,
    .section-six-header{
        font-size: 42px !important;
        
    }
    .section-six-header{
        padding: 0;
    }
    .tab-section {
        font-size: 10px;
    }
    .section-six-card{
        width: 55%;
        bottom: -160px;
    }
    .card-text-tab-six{
        font-size: 10px;

    }
    .header-four{
        padding: 0;
    }
    h2.section-two-heading{
        line-height: 32px;
    }
    .carousel-caption-text{
        font-size: 12px;
        line-height: 0;
        padding-bottom: 1rem;
    }
    .section-three-area{
        flex-direction: column;
    }
    
    p.section-two-body-content{
        font-size: 12px;
        line-height: 18px;
        width: 60%;
        height: auto;
    }
    a.section-two-readmore {
        font-size: 12px;
    }
    .section-two-content-area{
        align-items: flex-end;
    }
    .section-content-imageright{
        width: 50%;
        height: auto;
    }
    .section-one-area{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .section-one{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    .section-two-header {
        /* padding-top: 5rem; */
        /* padding-bottom: 2rem; */
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    .card-text-tab-six h6 {
        font-size: 12px;
    }
}

 /* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    
    
}

 /* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .footer-contents li {
        list-style: none;
    }
    .section-three-auidio audio {
        min-width: 580px;
    }

}

 /* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    
}

 /* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}